<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Meus animes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Preferências</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
